* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    flex: 1;
    padding: 20px;
    padding-top: 3px;
    max-width: 78vw;
    margin: auto;
    width: 60vw;
    margin-left: calc(100vw - 85vw); 
}

.char_cont {
    padding: 5vh 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
}

.stat {
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.stat-icon {
    font-size: 30px;
    margin-bottom: 10px;
    color: #0F254F;
}

.chart {
    background-color: #333;
    padding: 20px;
    width: 50vw;
    border-radius: 5px;
    margin: auto;
}

.aclonica-regular {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
    }

    .stat {
        margin-bottom: 20px;
    }

    .stat:last-child {
        margin-bottom: 0;
    }
}

.stat .number {
    font-size: 2em;
    margin-bottom: 10px;
}



.table-container h2 {
    position: sticky;
   
    background-color: #fff;
    padding: 10px 0;
    
}

.table-container {
    overflow-y: auto;
    height: 85vh;
    border: 1px solid #ddd;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

thead {
    position: sticky;
    top: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

thead th {
    text-align: left;
    padding: 10px;
    background-color: #ddd;
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

tbody td {
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
    padding: 2% 1%;
    border-top: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #eacca97c;
}

.container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    transition: margin-right 0.3s ease; /* Add transition for smooth shifting */
    margin-right: 0; /* Initial margin */
}

.popup-visible .container {
    margin-right:30vw; /* Adjust the margin to shift content left */
}

.details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20vw;
    z-index: 1000;
    display: none;
    overflow-y: auto; /* Ensure popup content scrolls */
    max-height: 100vh; /* Limit popup height to viewport height */
    scrollbar-width: thin; /* Adjust scrollbar width as needed */
    scrollbar-color: #ccc #f0f0f0; /* Adjust scrollbar color as needed */
}

.details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.details-header .close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.details-content {
    padding: 10px 0;
}
