@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
    max-width: 1200px; /* Set a maximum width */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.image-section {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 80%;
}

.login-section {
    flex: 1;
    padding: 40px;
    border-left: 1px solid #000;
}

h1 {
    font-size: 23px;
    margin-bottom: 20px;
    color: #5352ED;
    font-weight: 400;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group .toggle-password {
    position: absolute;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.password-toggle i {
    font-size: 18px;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.password-toggle i:hover {
    color: #000;
}

input[type='email']:focus,
input[type='password']:focus {
    background-image: none;
    padding-left: 10px;
    transition: ease-in-out;
}

input[type='email']::placeholder {
    background: white url('../Media/Vector.png') no-repeat;
    padding-left: 30px;
    background-position: 10px center;
    background-size: contain;
}

input[type='password']::placeholder {
    background: white url('../Media/key-solid.svg') no-repeat;
    padding-left: 30px;
    background-position: 10px center;
    background-size: contain;
}

.or {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

.social-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.social-login-button i {
    margin-right: 10px;
}

.google-login-button {
    background-color: #fff;
    color: #757575;
}

.facebook-login-button {
    background-color: #3b5998;
    color: #fff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    color: #007bff;
    text-decoration: none;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff7f50;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
        width: 90vw;
        
        overflow-y: auto;
    }

    .image-section {
        display: none; /* Hide the image section on smaller screens */
    }

    .login-section {
        width: 83vw;
        padding: 20px;
    }

    .input-group input {
        width: 80vw;
    }

    .social-login-button {
        width: 80vw;
        margin-bottom: 10px;
    }
}

@media (min-width: 1500px) {
    .google-login-button {
        margin-left: 202px;
    }

    .facebook-login-button {
        margin-left: 150px;
    }
}
