* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #F4F6FD, #F4F6FD);
}

header {
  background-color: #ffffff;
  padding: 10px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
}

nav a:hover {
  background: #f58d4c;
  border-radius: 5px;
}

nav input[type="text"] {
  padding: 0px;
  margin-right: 5px;
  text-align: start;
}

nav input::placeholder {
  padding: 0px;
}

/* Hamburger menu styles */
.hamburger {
  display: none; /* Initially hide the hamburger menu */
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

/* Show/hide navigation links based on screen size */
@media screen and (max-width: 768px) {
  .nav-links ul {
    display: none; /* Hide the navigation links */
  }

  .nav-links.active ul {
    display: flex; /* Show the navigation links when hamburger menu is active */
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 40vw;
    height: 90vh;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  .hamburger {
    
    display: block;
}
}


.page {
  padding: 20px;
  min-height: 100vh; /* Ensure each page takes up at least the viewport height */
}


.browse-header select {
  margin-right: 220px; /* Pushes the select element to the left */
  margin-bottom: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 14px;
}
nav a:hover {
  background: #f58d4c;
  border-radius: 5px;
}

nav input[type="text"] {
  padding: 0px 0px;
  margin-right: 5px;
  text-align: start;
}
nav input::placeholder{
  padding: 0px 0px;
}


main {
  padding: 20px;
}

h2{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #5352ED;
}


/* Adding space between headings and books */
.book-section h2 {
  margin-bottom: 90px; /* Adjust as needed */
}

.book-section, .genre-section, .author-section, .meeting-room-section {
  margin-bottom: 40px;
}

.book-list, .meeting-room-container {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 50px; 
}

.genre-list, .author-list{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 80px; 
}



.book, .genre-btn, .meeting-room-container {
  text-align: center;
  margin-right: 20px;
}



.author{
  text-align: center;
  margin-bottom: 20px;
}

.book img, .author img {
  width: 100px;
  height: 150px;
}

.book .borrow-btn { /* Style the borrow button */
  margin-top: 20px; /* Add space between book and button */
  background-color: #47A6EB;
  color: white;
  border: none;
  padding: 10px 40px; /* Adjust padding as needed */
  cursor: pointer;
  display: block; /* Ensure buttons appear on a new line */
  margin-bottom: 30px; /* Adjust bottom margin for spacing */
  border-radius: 5px;
}
.Read-btn{
  margin-top: 20px; /* Add space between book and button */
  background-color: #47A6EB;
  color: white;
  border: none;
  padding: 10px 30px; /* Adjust padding as needed */
  cursor: pointer;
  display: block; /* Ensure buttons appear on a new line */
  margin-bottom: 30px; /* Adjust bottom margin for spacing */
  border-radius: 5px;
  
}
.Read-btn:hover{
  background-color: #0056b3;
}
.book .borrow-btn:hover {
  background-color: #0056b3;
}

#browse-genres {
  margin: 20px 0;
}


.browse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 11vw;
}

.browse-header h2 {
  margin: 0;
}

.browse-header select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5vw;
 
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.genre-btn {
  width: 150px; /* Set a fixed width */
  height: 40px;
  margin: 10px;
  padding: 10px 20px;
  background-color: #FF7F56;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 70px;
  margin-bottom: 5px;
  text-align: center; 
  line-height: 20px; 
  border-radius: 5px;
}

.genre-btn:hover {
  background-color: #ccc;
}

.genre-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre-row {
  display: flex;
}

.see-all {
  text-align: right;
  margin-top: 3vw;
  margin-right: 20vw;
}

.see-all a {
  text-decoration: none;
  color: #007bff;
}

.see-all a:hover {
  text-decoration: underline;
}

#popular-authors {
  margin-top: 40px;
}

#popular-authors h2 {
  margin: 5vw;
}

.author img {
  width: 100px;
  height: 150px;
  margin: 10px; /* Add space around the images */
  border: none; /* Remove the border */
}
.author p.author-name {
  color: black; /* Set the color of the author's name to black */
}

.author p.author-description {
  color: #FF7F56; /* Set the color of the text under the author's name to orange */
}


/* Book a Meeting Room */
#book-meeting-room {
  margin: 20px 0;
}

.meeting-room-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px; 
}

#meeting-room-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

#meeting-room-form label {
  margin-top: 10px;
  text-align: left;
  
}
#meeting-room-form label {
  margin-top: 10px;
  text-align: left;
  
}

#meeting-room-form select {
  padding: 10px 80px;
  margin-top: 5px;
}
#meeting-room-form input
 {
  padding: 10px 1px;
  margin-top: 5px;
}

#meeting-room-form button {
  margin-top: 50px;
  padding: 10px;
  background-color: #FF7F56;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#meeting-room-form button:hover {
  background-color: #0056b3;
}

#book-meeting-room img {
  max-width: 50%;
  height: 500px;
  width: 500px;
  margin-right: 50px;
}


footer {
  background-color: #F4F6FD;
  padding: 20px;
  margin-top: 20px;
}

.newsletter {
  background-color: #5352ED;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.newsletter h2 {
  margin: 0;
}

.newsletter p {
  margin-top: 10px;
}

#subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#email {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 300px;
}

#subscribe-form button {
  padding: 10px 20px;
  border: none;
  background-color: #FF7F56;
  color: #fff;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
}

.footer-content > div {
  flex: 1;
  margin:0px;
}

.about img {
  width: 70px;
  height: auto;
}

.links, .customer-area, .social-medias {
  display: flex;
  flex-direction: column;
}

.links ul, .customer-area ul, .social-medias ul {
  list-style: none;
  padding: 0;
  gap: 10px;
}

.links ul li, .customer-area ul li, .social-medias ul li {
  margin: 5px 0;
}

.links ul li a, .customer-area ul li a, .social-medias ul li a {
  text-decoration: none;
  color: #333;
}

.social-medias ul li img {
  width: 20px;
  height: auto;
  
}

@media (max-width: 768px) {
  .footer-content {
      flex-direction: column;
  }

  #email {
      width: 60%;
  }
}


@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .browse-header select {
    margin-right: 20px;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }

  nav input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .book-list,
  .meeting-room-container,
  .genre-list,
  .author-list {
    flex-direction: column;
    gap: 0px;
  }

  .book,
  .genre-btn,
  .meeting-room-container {
    margin-right: 0;
  }

  .genre-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #meeting-room-form {
    margin-left: 0;
  }

  #meeting-room-form select,
  #meeting-room-form input {
    padding: 10px;
  }

  #meeting-room-form button {
    margin-top: 20px;
  }

  #book-meeting-room img {
    max-width: 100%;
    width: auto;
    margin-right: 0;
  }

  .footer-content {
    padding: 10px;
  }

  .about img {
    width: 50px;
  }
}

